.parent{
    -fx-background-color: #fff;
}
.sidebar{
    -fx-background-color: #36414F;
}
.btnsDelete{
    -fx-background-color: transparent;
    -fx-border-color: #C71932;
    -fx-text-fill: #C71932;
}
.btnsDelete:hover{
    -fx-background-color: #C71932;
    -fx-text-fill: white;
}
.btnsCancel{
    -fx-background-color:  #F4F4F4;
    -fx-border-color:  #1D5387;
    -fx-text-fill: #1D5387;
}
.btnsCancel:hover{
    -fx-background-color: #1D5387;
    -fx-text-fill: white;
}
.box{
    -fx-border-color: #3B3F4B;
    -fx-border-width: 1px 0px 0px 0px;
}
.round-lbl{
    -fx-background-color: #FE7A79;
    -fx-background-radius: 100%;
}
.card-01{
    -fx-background-color: rgba(0, 162, 211,0.3);
}
.card-03{
    -fx-background-color: rgba(69, 183, 175,0.3);
}
.card-02{
    -fx-background-color: rgba(255, 198, 108,0.3);
}
.round-box{
    -fx-background-radius: 100%;
    -fx-border-radius: 100%;
    -fx-border-width: 5px;
}

.btnLogin {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-font-size: 12pt;
}

.btnLogin:hover,.btnLogin:focused {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

* {
    -fx-primary : #36414F;
    -fx-secondary : #FFFF8D;
    -fx-primarytext : #B2B2B2;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.glyIcon {
    -fx-fill: -fx-primarytext;
}
.textFieldLogin {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 10pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 100%);
}

.jfxButton {
    -fx-background-color: #36414F;
    -fx-text-fill: #ffffff;
}

.jfxButton:hover, .jfxButton:focused {
    -fx-background-color: #EAB430;
    -fx-text-fill: #36414F;
}

.btnTrash {
    -fx-background-color: transparent;
    -fx-border-color: #36414F;
    -fx-text-fill: #36414F;

}

.btnTrash:hover {
    -fx-background-color: #36414F;
    -fx-text-fill: white;
}

.table {
    -fx-background-color: #36414F;
    -fx-text-fill: #FFFFFF;
}

.iconTrash {
    -fx-fill: #C71932;
}

.iconTrash:hover {
    -fx-fill: #ffffff;
}

.table-view {
    -fx-border-color: #36414F;
}

.tfSearch {
    -fx-border-color: #36414F;
}

.btnDetail {
    background-color: #ffc107;
    border-color: #ffc107;
}

.btnDetail:hover {
    -fx-background-color: #e0a800;
    -fx-border-color: #d39e00;
}





